<div class="ui container">
  <h1>FS ISAC Alerts</h1>
  <h3>Total: <%= Whitelist.count %></h3>
  <h3>Showing: <%= @whitelists.size %></h3>

  <%= render 'shared/simple_search', path: whitelists_path %>

  <%= will_paginate @whitelists %>
</div>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ruby regex</th>
      <th>Was created on</th>
    </tr>
  </thead>
  <tbody>
    <% @whitelists.each do |record| %>
      <tr>
        <th><%= record.id                          %></th>
        <th><%= record.regex_string                %></th>
        <th><%= record.paper_trail&.insertion_date %></th>
      </tr>
    <% end %>
  </tbody>
</table>
