<div class="ui container">
  <div class="ui grid">
    <h1 class="eight wide column">CyberAdapt traffic Whitelist</h1>

    <div class="eight wide right aligned column">
      <a class="ui green animated button" href='/whitelists/new' tabindex="0">
        <div class="visible content">+ New whitelist rule</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </a>
    </div>
  </div>
  
  <h3>Total: <%= Whitelist.count %></h3>
  <h3>Showing: <%= @whitelists.size %></h3>

  <%= render 'shared/simple_search', path: whitelists_path %>

  <p>
    *If something appears here we consider this type of internet
    traffic to not be audit worthy, i.e. it is considered "safe"
    and so the regex rules we define whitelist the traffic from
    being logged to save disk space and focus on less known traffic
  </p>

  <%= will_paginate @whitelists %>
</div>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ruby regex</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @whitelists.each do |record| %>
      <tr>
        <td><%= link_to record.id, edit_whitelist_path(record) %></td>
        <td><%= record.regex_string                            %></td>
        <td>
          <%= form_for record, method: :delete, path: whitelists_path(record) do |f| %>
            <button class="ui red icon button" tabindex="0" onclick="form.submit()">
              <i class="trash alternate icon"></i>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
