<%= render 'shared/index_header',
           title: local_assigns[:title] || model.to_s.pluralize,
           model: model,
           var: var %>

<%= render 'shared/search', path: html_path %>

<%= link_to "Download these results as CSV (automatically will download all, won't hide any)", csv_path %>

<%= yield %>

<% table_headers = local_assigns[:th] || model::CsvColumns %>

<table class="ui striped celled table">
  <thead>
    <tr>
      <% table_headers.each do |th| %>
        <th><%= th %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% var.map(&:to_a).each do |array| %>
      <tr>
        <% array.each do |td| %>
          <td><%= td %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
