<%= form_tag path, method: :post, multipart: true, class: "ui form" do %>

  <div class="field">
    <%= label_tag :log, "Log in CSV form" %>
    <p>
      *keeping the default filename allows there to be more metadata extrapolated.
      Alternatively, you can always supply this metadata below.
    </p>
    <%= file_field_tag "log", accept: 'text/csv' %>
  </div>

  <div class="field">
    <%= label_tag :date_override, "When was this data recorded?" %>
    <%= date_field_tag :date_override %>
  </div>

  <br>
  
  <p>
    *this can take a very long time depending on how much data is in the file.
  </p>
  <%= submit_tag "Submit", class: "ui button" %>
<% end %>
