<%= render('shared/index_header',
           title: "CyberAdapt Alerts",
           model: CyberAdaptAlert,
           var: @alerts) %>

<%= render 'shared/search', path: cyber_adapt_alerts_path %>

<%= link_to "Download these results as CSV (automatically downloads all, won't hide any)",
 cyber_adapt_alerts_path(q: params[:q], all: true, format: :csv) %>
<br>
<%= link_to("Pull alerts down from Exchange server", cyber_adapt_alerts_refresh_path)%>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Alert ID</th>
      <th>Message</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Timestamp</th>
      <th>Resolved?</th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |record| %>
      <tr>
        <td><%= link_to record.id, cyber_adapt_alert_path(record) %></td>
        <td><%= record.alert_id %></td>
        <td><%= record.msg %></td>
        <td><%= abuse_ip record.src_ip %>:<%= record.src_port %></td>
        <td><%= abuse_ip record.dst_ip %>:<%= record.dst_port %></td>
        <td><%= record.alert_timestamp %></td>
        <td><%= resolve_cyber_adapt record %></td>
      </tr>
    <% end %>
  </tbody>
</table>
