<p id="notice"><%= notice %></p>

<h1>Dhcp Leases</h1>

<table>
  <thead>
    <tr>
      <th>Inet</th>
      <th>Reference</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dhcp_leases.each do |dhcp_lease| %>
      <tr>
        <td><%= dhcp_lease.inet %></td>
        <td><%= dhcp_lease.reference %></td>
        <td><%= dhcp_lease.reference %></td>
        <td><%= link_to 'Show', dhcp_lease %></td>
        <td><%= link_to 'Edit', edit_dhcp_lease_path(dhcp_lease) %></td>
        <td><%= link_to 'Destroy', dhcp_lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dhcp Lease', new_dhcp_lease_path %>
