<p id="notice"><%= notice %></p>

<p>
  <strong>Inet:</strong>
  <%= @dhcp_lease.inet %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @dhcp_lease.reference %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @dhcp_lease.reference %>
</p>

<%= link_to 'Edit', edit_dhcp_lease_path(@dhcp_lease) %> |
<%= link_to 'Back', dhcp_leases_path %>
