<div class="ui container">
  <h1>
    FS-ISAC alert ID#<%= @alert.id %>
  </h1>
  <h3>
    <%= @alert.title %>
  </h3>
  <h5>
    FS-ISAC's Tracking ID: <%= @alert.tracking_id %>
  </h5>
  
  <%= link_to "Edit", edit_fs_isac_alert_path(@alert) %>

  <div class="ui items">
    <div class="item">
      <div class="content">
        <div class="header">
          <% applies = @alert.applies %>
          <%= link_to "We #{applies ? 'ARE' : 'ARE NOT'} vulnerable.", set_booleans_fs_isac_alert_path(@alert, applies: !applies) %>
        </div>
        <div class="meta">
          <span>Click the link to reverse.</span>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <%= resolve_fs_isac(@alert) %>
          <%= @alert.resolved ? "Resolved" : "Unresolved" %>
        </div>
        <div class="meta">
          <span>Click the icon to reverse.</span>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="yellow bars icon"></i>
          Description
        </div>
        <div class="description">
          <%= @alert.alert %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="eye icon"></i>
          Sources
        </div>
        <div class="description">
          <%= @alert.sources %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="blue shield icon"></i>
          Corrective action
        </div>
        <div class="description">
          <%= @alert.corrective_action %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="red exclamation icon"></i>
          Affected products
        </div>
        <div class="description">
          <%= @alert.affected_products %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="orange clock icon"></i>Timestamp
        </div>
        <div class="description">
          <%= @alert.alert_timestamp %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="purple edit icon"></i>Comment
        </div>
        <div class="description">
          <% if @alert.comment.blank? %>
            <i>No comment</i>
          <% else %>
            <%= @alert.comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
