<div class="ui container">
  <h1>
    FS-ISAC alert #<%= @alert.tracking_id %>
  </h1>

  <h4>
    <%= @alert.title %>
  </h4>
  
  <%= link_to "Edit", edit_fs_isac_alert_path(@alert) %>
  
  <div class="ui items">
    <div class="item">
      <div class="content">
        <div class="header">
          <%= resolve_icon(@alert) %>
          <%= @alert.resolved ? "Resolved" : "Unresolved" %>
        </div>
        <div class="meta">
          <span>Click the icon to reverse.</span>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="yellow bars icon"></i>
          Description
        </div>
        <div class="description">
          <%= @alert.alert %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="eye icon"></i>
          Sources
        </div>
        <div class="description">
          <%= @alert.sources %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="blue shield icon"></i>
          Corrective action
        </div>
        <div class="description">
          <%= @alert.corrective_action %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="red exclamation icon"></i>
          Affected products
        </div>
        <div class="description">
          <%= @alert.affected_products %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="orange clock icon"></i>Timestamp
        </div>
        <div class="description">
          <%= @alert.alert_timestamp %>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <div class="header">
          <i class="purple edit icon"></i>Comment
        </div>
        <div class="description">
          <% if @alert.comment.blank? %>
            <i>No comment</i>
          <% else %>
            <%= @alert.comment %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
