<div class="ui container">
  <h1>CyberAdapt Traffic</h1>
  <h3>Total: <%= UriEntry.count %></h3>
  <h3>Showing: <%= @uri_entries.size %></h3>

  <a class="ui red animated button"
     href="<%= uri_entries_refresh_path %>" tabindex="0">
    <div class="visible content">Pull new log entries from CyberAdapt's SFTP server</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
      <i class="server icon"></i> API request
    </div>
  </a>

  <a class="ui purple animated button"
     href="<%= uri_entries_path(to_csv_params) %>" tabindex="0">
    <div class="visible content">Download ALL these results as CSV</div>
    <div class="hidden content">
      <i class="align justify icon"></i> Download
    </div>
  </a>

  <%= render 'uri_entries/search' %>

  <%= will_paginate @uri_entries %>
</div>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>IP</th>
      <th>User</th>
      <th>Host</th>
      <th>URI</th>
      <th>Hits</th>
      <th>CyberAdapt recorded this on</th>
      <th>Was put into the database at</th>
      <th>Was last updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @uri_entries.find_each do |record| %>
      <tr>
        <td><%= record.id                          %></td>
        <td><%= record.dhcp_lease.ip               %></td>
        <td><%= record.machine&.user               %></td>
        <td><%= record.machine&.host               %></td>
        <td><%= record.uri                         %></td>
        <td><%= record.hits                        %></td>
        <td><%= record.paper_trail&.insertion_date %></td>
        <td><%= record.created_at                  %></td>
        <td><%= record.updated_at                  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
