<div class="ui container">
  <%= render 'shared/index_header',
             title: "CyberAdapt traffic log",
             model: UriEntry,
             var: @uri_entries %>

  <%= render 'uri_entries/search' %>
  
  <%= link_to "Pull new log entries from CyberAdapt", uri_entries_refresh_path %>

  <%= will_paginate @uri_entries %>
</div>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>IP</th>
      <th>User</th>
      <th>Host</th>
      <th>URI</th>
      <th>Hits</th>
      <th>CyberAdapt recorded this on</th>
      <th>Was put into the database at</th>
      <th>Was last updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @uri_entries.find_each do |entry| %>
      <tr>
        <% entry.to_a(*UriEntry::CsvColumns).each do |col| %>
          <td><%= col %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
