<%= render 'shared/index_header',
           title: "Machines",
           model: Machine,
           var: @machines %>

<%= render 'shared/search', path: machines_path %>

<%= link_to "Upload", machines_upload_path %>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Host</th>
      <th>IP</th>
      <th>Last day Carbon black saw this</th>
      <th>Was put into the database at</th>
      <th>Was last updated at</th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |row| %>
      <tr>
        <%= content_tag :td, row.id %>
        <%= content_tag :td, row.user %>
        <%= content_tag :td, row.host %>
        <%= content_tag :td, row.ip %>
        <%= content_tag :td, row.paper_trail&.insertion_date %>
        <%= content_tag :td, row.created_at %>
        <%= content_tag :td, row.updated_at %>
      </tr>
    <% end %>
  </tbody>
</table>
