<div class="ui container">
  <%= render('shared/index_header',
             title: "Machines",
             model: Machine,
             var: @machines) %>

  <%= render 'machines/search', path: machines_path %>

  <%= link_to "Download ALL these results as CSV", machines_path(params.to_unsafe_hash.merge(format: :csv)) %>

  <br>

  <%= link_to "New machine", new_machine_path %>

  <%= will_paginate @machines %>
</div>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Department</th>
      <th>Host</th>
      <th>Last known IP</th>
      <th>User</th>
      <th>Last day CarbonBlack saw this</th>
      <th>Put in the database at</th>
      <th>Last updated at</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |record| %>
      <tr>
        <td><%= link_to record.id, edit_machine_path(record) %></td>
        <td><%= record.department&.name %></td>
        <td><%= record.host %></td>
        <td><%= record.ip %></td>
        <td><%= record.user %></td>
        <td><%= record.paper_trail&.insertion_date %></td>
        <td><%= record.created_at %></td>
        <td><%= record.updated_at %></td>
        <td>
          <%= form_for record, method: :delete, path: machines_path(record) do |f| %>
            <button class="ui red icon button" tabindex="0" onclick="form.submit()">
              <i class="trash alternate icon"></i>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
