<div class="ui container">
  <div class="ui grid">
    <h1 class="eight wide column">Machines</h1>

    <div class="eight wide right aligned column">
      <a class="ui green animated button" href='/machines/new' tabindex="0">
        <div class="visible content">+ New machine</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </a>
    </div>
  </div>

  <h3>Total: <%= Machine.count %></h3>
  <h3>Showing: <%= @machines.size %></h3>

  <a class="ui purple animated button"
     href="<%= machines_path(to_csv_params) %>" tabindex="0">
    <div class="visible content">Download ALL these results as CSV</div>
    <div class="hidden content">
      <i class="align justify icon"></i> Download
    </div>
  </a>

  <%= render 'machines/search', path: machines_path %>

  <%= will_paginate @machines %>
</div>

<table class="ui striped celled table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Department</th>
      <th>Host</th>
      <th>Last known IP</th>
      <th>User</th>
      <th>Last day CarbonBlack saw this</th>
      <th>Put in the database at</th>
      <th>Last updated at</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @machines.each do |record| %>
      <tr>
        <td><%= link_to record.id, edit_machine_path(record) %></td>
        <td><%= record.department&.name %></td>
        <td><%= record.host %></td>
        <td><%= record.ip %></td>
        <td><%= record.user %></td>
        <td><%= record.paper_trail&.insertion_date %></td>
        <td><%= record.created_at %></td>
        <td><%= record.updated_at %></td>
        <td>
          <%= form_for record, method: :delete, path: machines_path(record) do |f| %>
            <button class="ui red icon button" tabindex="0" onclick="form.submit()">
              <i class="trash alternate icon"></i>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
