<% flash.each do |k,v| %>
  <div class="ui container">
    <div class="ui message <%= k %>">
      <% case v %>
      <% when Array %>
        <ul>
          <% v.each do |element| %>
            <li><%= element %></li>
          <% end %>
        </ul>
      <% when Hash %>
        <ul>
          <% v.each do |sym, problems| %>
            <% problems.each do |problem| %>
              <%= content_tag :li, "Error with field #{sym}: #{problem}" %>
            <% end %>
          <% end %>
        </ul>
      <% when ActiveModel::Errors %>
        <ul>
          <% v.each do |field, error| %>
            <li><%= field %>: <%= error %></li>
          <% end %>
        </ul>
      <% else %>
        <%= v %>
      <% end %>
    </div>
  </div>
<% end %>

<br>
