<div class="ui secondary menu">
  <%= link_to "Machines", machines_path, class: "item" %>
  <%= link_to "CyberAdapt traffic", uri_entries_path, class: "item" %>
  <div class="item ui dropdown">
    <div class="text">Whitelists</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "Whitelist", whitelists_path, class: "item" %>
      <%= link_to "Ignore list for FS-ISAC alerts", fs_isac_ignores_path, class: "item" %>
    </div>
  </div>
  <div class="item ui dropdown">
    <div class="text">Alerts</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "CyberAdapt alerts", cyber_adapt_alerts_path, class: "item" %>
      <%= link_to "FS ISAC alerts", fs_isac_alerts_path, class: "item" %>
    </div>
  </div>
  <div class="item ui dropdown">
    <div class="text">Upload</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <%= link_to "Carbon black log", machines_upload_path, class: "item" %>
      <%= link_to "Users log", users_upload_path, class: "item" %>
      <%= link_to "Whitelist log", whitelists_upload_path, class: "item" %>
    </div>
  </div>
</div>
